<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }} Covid-19 Reserach Articles Recommendations</title>
    </head>
    <body>
        <div>
	   <h2>Recommender:</h2> 
	   <a href={{ url_for('index') }}>Home</a>
           <a href={{ url_for('input') }}>Input</a>
	</div> 
	<hr>
        {% block content %}{% endblock %}
    </body>
</html>
