{% extends "base.html" %}

{% block content %}
<body style="background-color:powderblue;">

<h1 style="color: blue" >Welcome to the Web Page to find recommendations of Covid-19 Research Articles</h1>

<p>
The objective of this web page is to help researcher to find similar research papers of ones interest. 
The web application reccommends relevant COVID-19 research articles for a given query article.
The database for the recommendations are based on scholarly research articles of the 
COVID-19 Open Research Dataset (CORD-19), details is available in 
<a href="https://www.kaggle.com/allen-institute-for-ai/CORD-19-research-challenge"> Kaggle.</a>
</p>
<h3> To access the recommended articles go to the 'Input' link and submit a paper_id of an article</h3>

</body>
{% endblock %}
