{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Articles</h1>
      <hr>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.article_id.label }}<br>
            {{ form.article_id(size=50) }}
        </p>
        <p>{{ form.submit() }}</p>
	<!-- recommendations -->
	<h4>Accessing recommendations for article:</h4>
        {% if article%}
        <h4> {{ titles[article]  }} </h4>
        {% endif %}
	<!-- <p>Recommended papers : {{ recommendations }}</p> -->
	<hr>
	<strong class="d-block mb-3">Recommended papers :</strong>
	<hr>
	{% if recommendations != None %}
        <ul>
          {% for reco in recommendations %}
          <li>{{ titles[reco] }}</li>
          <!-- to get the URL of the articles --> 
          <div class="card-body">
              <a target="_blank" rel="noopener noreferrer" href=https://www.semanticscholar.org/paper/{{ reco }} class="btn btn-primary btn-sm"> Find details on SemanticScholar. </a>
          </div>
          {% endfor %}
        </ul>
	{% else %}
	<p>No recommendations found</p>
	{% endif %}

    </form>

		
    </div>
  </div>
</div>
{% endblock %}
