{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="color: blue">Article Informations</h1>
      <hr>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.article_id.label }}<br>
            {{ form.article_id(size=50) }}
        </p>
        <p>{{ form.submit() }}</p>
	<!-- recommendations -->
	<h4 style="color: green" >Accessing recommendations for article:</h4>
        {% if article%}
        <h4> {{ titles[article]  }} </h4>
        <!-- to get the URL of the QUERY article -->
        <div class="card-body">
            <a target="_blank" rel="noopener noreferrer" href=https://www.semanticscholar.org/paper/{{ article }} class="btn btn-primary btn-sm"> Find details of the query on SemanticScholar </a>
        </div> 
        {% endif %}
	<!-- <p>Recommended papers : {{ recommendations }}</p> -->
	<hr>
	<strong class="d-block mb-3">Recommended papers :</strong>
	<hr>
	{% if recommendations != None %}
        <ul>
          {% for reco in recommendations %}
          <li>{{ titles[reco] }}</li>
          <!-- to get the URL of the Recommended articles --> 
          <div class="card-body">
              <a target="_blank" rel="noopener noreferrer" href=https://www.semanticscholar.org/paper/{{ reco }} class="btn btn-primary btn-sm"> Find details of this article on SemanticScholar </a>
          </div>
          {% endfor %}
        </ul>
	{% else %}
	<p style="color: red" >No recommendations found</p>
	{% endif %}

    </form>

		
    </div>
  </div>
</div>
{% endblock %}
